flows_medTracker.json
[{"id":"a746fda9.6826c","type":"tab","label":"medTracker-node-red","disabled":false,"info":""},{"id":"b573b156.e04e5","type":"mqtt-broker","z":"","name":"mqtt server","broker":"192.168.1.10","port":"1883","clientid":"pihole-node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"device/birth","birthQos":"0","birthRetain":"false","birthPayload":"pihole-node-red","closeTopic":"device/close","closeQos":"0","closeRetain":"false","closePayload":"pihole-node-red","willTopic":"device/disconnect","willQos":"0","willRetain":"false","willPayload":"pihole-node-red"},{"id":"af976f87.6ef92","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Copperplate,Copperplate Gothic Light,fantasy","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Copperplate,Copperplate Gothic Light,fantasy"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"MM/DD/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ea952c90.d4d66","type":"ui_tab","z":"a746fda9.6826c","name":"MedTracker","icon":"heartbeat","order":1},{"id":"1ad22422.86391c","type":"ui_group","z":"","name":"MQTT Events","tab":"ea952c90.d4d66","order":1,"disp":true,"width":"6","collapse":true},{"id":"df75697b.aea358","type":"e-mail","z":"a746fda9.6826c","server":"smtp.gmail.com","port":"465","secure":true,"name":"airfoof@gmail.com,5072525792@txt.att.net","dname":"","x":910,"y":880,"wires":[]},{"id":"5c9b0329.8083bc","type":"delay","z":"a746fda9.6826c","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":580,"wires":[["bfc98fa8.8ea1f"]]},{"id":"b16000c3.f9eba","type":"delay","z":"a746fda9.6826c","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":640,"wires":[["743901cc.ad987"]]},{"id":"1e8d3e70.ee9af2","type":"change","z":"a746fda9.6826c","name":"Set payload to off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":740,"wires":[["52283337.68812c"]]},{"id":"363f446f.0a54ac","type":"change","z":"a746fda9.6826c","name":"warning email text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Take your meds!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Drugs not yet taken - 30 minute warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":880,"wires":[["df75697b.aea358"]]},{"id":"9f105b09.95db48","type":"change","z":"a746fda9.6826c","name":"alert email text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Drugs not taken and are one hour late!  Last notification!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Drugs not taken ALERT","tot":"str"},{"t":"set","p":"to","pt":"msg","to":"airfoof@gmail.com,airfoof@yahoo.com,5072525792@txt.att.net,bensonljenny@gmail.com,5073988948@txt.att.net","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":940,"wires":[["df75697b.aea358"]]},{"id":"8d66322d.683dc","type":"change","z":"a746fda9.6826c","name":"reminder email text","rules":[{"t":"set","p":"payload","pt":"msg","to":"It's drug time!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Time to take drugs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":820,"wires":[["df75697b.aea358"]]},{"id":"b219a06d.ee105","type":"change","z":"a746fda9.6826c","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"yes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[["b16000c3.f9eba","5c9b0329.8083bc","23adc25c.7adfae"]]},{"id":"b8cf4b21.8cda78","type":"mqtt in","z":"a746fda9.6826c","name":"","topic":"medtracker/medstaken","qos":"1","broker":"b573b156.e04e5","x":120,"y":740,"wires":[["1e8d3e70.ee9af2"]]},{"id":"e7c2e8a8.c54b58","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":60,"wires":[["b0958cee.66d75"]]},{"id":"b0958cee.66d75","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":960,"y":60,"wires":[]},{"id":"caa5184.a7026e8","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":120,"wires":[["e4400af3.883878"]]},{"id":"e4400af3.883878","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":960,"y":120,"wires":[]},{"id":"c750015f.60e2c","type":"http in","z":"a746fda9.6826c","name":"MQTT Web Endpoint","url":"/mqtt/:topic","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1080,"wires":[["6e4418d8.2f8788"]]},{"id":"ee4796f3.773988","type":"http response","z":"a746fda9.6826c","name":"HTTP OK Response","statusCode":"200","headers":{},"x":580,"y":1120,"wires":[]},{"id":"95ae81a3.389ee","type":"switch","z":"a746fda9.6826c","name":"if on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":600,"wires":[["5c9b0329.8083bc","b16000c3.f9eba","23adc25c.7adfae"],["b219a06d.ee105"]]},{"id":"a3beb4.063aa15","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":1430,"y":580,"wires":[]},{"id":"69df0bf7.bddc14","type":"change","z":"a746fda9.6826c","name":"set payload(priority) to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":520,"wires":[["a3beb4.063aa15"]]},{"id":"bfc98fa8.8ea1f","type":"change","z":"a746fda9.6826c","name":"set payload(priority) to 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":580,"wires":[["a3beb4.063aa15"]]},{"id":"743901cc.ad987","type":"change","z":"a746fda9.6826c","name":"set payload(priority) to 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":640,"wires":[["a3beb4.063aa15"]]},{"id":"52283337.68812c","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","retain":"true","broker":"b573b156.e04e5","x":580,"y":740,"wires":[]},{"id":"2e0d1e95.015762","type":"comment","z":"a746fda9.6826c","name":"Available Events","info":"- medtracker/drugtime\n    - on or off\n- medtracker/medstaken\n    - value should be the client creating the message\n- medtracker/medsnottaken\n    - 1, 2, or 3 based on the priority. any other value will probably be ignored or clear displays","x":280,"y":340,"wires":[]},{"id":"db0fb5fd.95d288","type":"comment","z":"a746fda9.6826c","name":"Testing triggers","info":"","x":80,"y":20,"wires":[]},{"id":"10a9deb2.20c741","type":"inject","z":"a746fda9.6826c","name":"Morning Drug Time","topic":"medtracker/drugtime","payload":"on","payloadType":"str","repeat":"","crontab":"45 07 * * *","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["75eb22e7.c3d77c"]]},{"id":"12b71fbc.cd7f","type":"inject","z":"a746fda9.6826c","name":"Evening Drug Time","topic":"medtracker/drugtime","payload":"on","payloadType":"str","repeat":"","crontab":"45 19 * * *","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["75eb22e7.c3d77c"]]},{"id":"75eb22e7.c3d77c","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","retain":"true","broker":"b573b156.e04e5","x":380,"y":440,"wires":[]},{"id":"e6415911.dca248","type":"mqtt in","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","broker":"b573b156.e04e5","x":110,"y":600,"wires":[["95ae81a3.389ee"]]},{"id":"94754255.62248","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"test trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["ae723e01.44891"]]},{"id":"ae723e01.44891","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medstaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":370,"y":180,"wires":[]},{"id":"fd9d81ba.8f95e","type":"comment","z":"a746fda9.6826c","name":"Main application","info":"","x":100,"y":340,"wires":[]},{"id":"23adc25c.7adfae","type":"delay","z":"a746fda9.6826c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":520,"wires":[["69df0bf7.bddc14"]]},{"id":"abe9f99.4992c08","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":60,"wires":[["db3555d8.b6b378"]]},{"id":"db3555d8.b6b378","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","retain":"true","broker":"b573b156.e04e5","x":370,"y":60,"wires":[]},{"id":"3450c416.c5eabc","type":"mqtt out","z":"a746fda9.6826c","name":"Trigger MQTT Event","topic":"","qos":"2","retain":"","broker":"b573b156.e04e5","x":580,"y":1040,"wires":[]},{"id":"c433d85.933f8a8","type":"ui_text","z":"a746fda9.6826c","group":"1ad22422.86391c","order":0,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"col-center","x":330,"y":1240,"wires":[]},{"id":"d1cc0ed5.f88968","type":"mqtt in","z":"a746fda9.6826c","name":"","topic":"medtracker/#","qos":"1","broker":"b573b156.e04e5","x":90,"y":1240,"wires":[["c433d85.933f8a8"]]},{"id":"127a9678.08305a","type":"ui_switch","z":"a746fda9.6826c","name":"","label":"Drug Time","tooltip":"","group":"1ad22422.86391c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":1320,"wires":[[]]},{"id":"6f00d420.476a84","type":"mqtt in","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","broker":"b573b156.e04e5","x":110,"y":1320,"wires":[["127a9678.08305a"]]},{"id":"174aeb64.e180f5","type":"comment","z":"a746fda9.6826c","name":"Dashboard application","info":"","x":120,"y":1180,"wires":[]},{"id":"91012a44.d8f3b8","type":"comment","z":"a746fda9.6826c","name":"External webservice","info":"","x":110,"y":1000,"wires":[]},{"id":"14ce23da.02e19c","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":180,"wires":[["b168e034.04731"]]},{"id":"b168e034.04731","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":960,"y":180,"wires":[]},{"id":"a2582a3b.cef788","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":240,"wires":[["c8df57d1.0842b8"]]},{"id":"c8df57d1.0842b8","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":960,"y":240,"wires":[]},{"id":"6e4418d8.2f8788","type":"change","z":"a746fda9.6826c","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"req.params.topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1080,"wires":[["3450c416.c5eabc","ee4796f3.773988"]]},{"id":"a41f97d.496ec68","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":120,"wires":[["8cb91d31.28c66"]]},{"id":"8cb91d31.28c66","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","retain":"true","broker":"b573b156.e04e5","x":370,"y":120,"wires":[]},{"id":"292e26e5.9198da","type":"mqtt in","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"2","broker":"b573b156.e04e5","x":130,"y":880,"wires":[["cc85915b.fb8538"]]},{"id":"cc85915b.fb8538","type":"switch","z":"a746fda9.6826c","name":"Switch priority","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":880,"wires":[["8d66322d.683dc"],["363f446f.0a54ac"],["9f105b09.95db48"]]}]