flows_medTracker.json
[{"id":"a746fda9.6826c","type":"tab","label":"medTracker-node-red","disabled":false,"info":""},{"id":"b573b156.e04e5","type":"mqtt-broker","z":"","name":"mqtt server","broker":"192.168.1.145","port":"1883","clientid":"pihole","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df75697b.aea358","type":"e-mail","z":"a746fda9.6826c","server":"smtp.gmail.com","port":"465","secure":true,"name":"airfoof@gmail.com","dname":"","x":1550,"y":600,"wires":[]},{"id":"5c9b0329.8083bc","type":"delay","z":"a746fda9.6826c","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":600,"wires":[["363f446f.0a54ac","bfc98fa8.8ea1f"]]},{"id":"b16000c3.f9eba","type":"delay","z":"a746fda9.6826c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":660,"wires":[["9f105b09.95db48","743901cc.ad987"]]},{"id":"1e8d3e70.ee9af2","type":"change","z":"a746fda9.6826c","name":"Set payload to off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":820,"wires":[["52283337.68812c"]]},{"id":"363f446f.0a54ac","type":"change","z":"a746fda9.6826c","name":"warning email text","rules":[{"t":"set","p":"payload","pt":"msg","to":"drugs not taken 30 minute warning","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"node red drugs not taken","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":600,"wires":[["df75697b.aea358"]]},{"id":"9f105b09.95db48","type":"change","z":"a746fda9.6826c","name":"alert email text","rules":[{"t":"set","p":"payload","pt":"msg","to":"drugs not taken 60 minute ALERT","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"node red drugs not taken ALERT","tot":"str"},{"t":"set","p":"to","pt":"msg","to":"airfoof@gmail.com,airfoof@yahoo.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":660,"wires":[["df75697b.aea358"]]},{"id":"8d66322d.683dc","type":"change","z":"a746fda9.6826c","name":"reminder email text","rules":[{"t":"set","p":"payload","pt":"msg","to":"time to take drugs","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"node red drug reminder","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":540,"wires":[["df75697b.aea358"]]},{"id":"b219a06d.ee105","type":"change","z":"a746fda9.6826c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"yes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":660,"wires":[["b16000c3.f9eba","5c9b0329.8083bc","23adc25c.7adfae"]]},{"id":"8f349719.1e17f8","type":"switch","z":"a746fda9.6826c","name":"if off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":660,"wires":[["b219a06d.ee105"]]},{"id":"b8cf4b21.8cda78","type":"mqtt in","z":"a746fda9.6826c","name":"","topic":"medtracker/medstaken","qos":"1","broker":"b573b156.e04e5","x":100,"y":820,"wires":[["1e8d3e70.ee9af2"]]},{"id":"e7c2e8a8.c54b58","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":180,"wires":[["b0958cee.66d75"]]},{"id":"b0958cee.66d75","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":380,"y":180,"wires":[]},{"id":"caa5184.a7026e8","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":229,"wires":[["e4400af3.883878"]]},{"id":"e4400af3.883878","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":380,"y":229,"wires":[]},{"id":"c750015f.60e2c","type":"http in","z":"a746fda9.6826c","name":"MQTT Web Endpoint","url":"/mqtt/:topic/:message","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1100,"wires":[["ee4796f3.773988"]]},{"id":"ee4796f3.773988","type":"http response","z":"a746fda9.6826c","name":"HTTP OK Response","statusCode":"200","headers":{},"x":400,"y":1140,"wires":[]},{"id":"3450c416.c5eabc","type":"mqtt out","z":"a746fda9.6826c","name":"Trigger MQTT Event","topic":"","qos":"1","retain":"","broker":"b573b156.e04e5","x":720,"y":1080,"wires":[]},{"id":"95ae81a3.389ee","type":"switch","z":"a746fda9.6826c","name":"if on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":540,"wires":[["5c9b0329.8083bc","b16000c3.f9eba","23adc25c.7adfae"]]},{"id":"a3beb4.063aa15","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medsnottaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":1300,"y":720,"wires":[]},{"id":"69df0bf7.bddc14","type":"change","z":"a746fda9.6826c","name":"set payload to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":560,"wires":[["a3beb4.063aa15"]]},{"id":"bfc98fa8.8ea1f","type":"change","z":"a746fda9.6826c","name":"set payload to 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":620,"wires":[["a3beb4.063aa15"]]},{"id":"743901cc.ad987","type":"change","z":"a746fda9.6826c","name":"set payload to 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":680,"wires":[["a3beb4.063aa15"]]},{"id":"52283337.68812c","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","retain":"true","broker":"b573b156.e04e5","x":560,"y":820,"wires":[]},{"id":"2e0d1e95.015762","type":"comment","z":"a746fda9.6826c","name":"Available Events","info":"- medtracker/drugtime\n    - on or off\n- medtracker/medstaken\n    - value does not matter\n- medtracker/medsnottaken\n    - 1, 2, or 3 based on the priority. any other value will probably be ignored or clear displays","x":240,"y":280,"wires":[]},{"id":"db0fb5fd.95d288","type":"comment","z":"a746fda9.6826c","name":"Testing triggers","info":"","x":80,"y":29,"wires":[]},{"id":"10a9deb2.20c741","type":"inject","z":"a746fda9.6826c","name":"Morning Drug Time","topic":"medtracker/drugtime","payload":"on","payloadType":"str","repeat":"","crontab":"45 07 * * *","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["75eb22e7.c3d77c"]]},{"id":"12b71fbc.cd7f","type":"inject","z":"a746fda9.6826c","name":"Evening Drug Time","topic":"medtracker/drugtime","payload":"on","payloadType":"str","repeat":"","crontab":"45 19 * * *","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["75eb22e7.c3d77c"]]},{"id":"75eb22e7.c3d77c","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","retain":"true","broker":"b573b156.e04e5","x":380,"y":380,"wires":[]},{"id":"e6415911.dca248","type":"mqtt in","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","broker":"b573b156.e04e5","x":100,"y":600,"wires":[["95ae81a3.389ee","8f349719.1e17f8"]]},{"id":"94754255.62248","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":129,"wires":[["ae723e01.44891"]]},{"id":"ae723e01.44891","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/medstaken","qos":"1","retain":"","broker":"b573b156.e04e5","x":370,"y":129,"wires":[]},{"id":"fd9d81ba.8f95e","type":"comment","z":"a746fda9.6826c","name":"For real","info":"","x":50,"y":280,"wires":[]},{"id":"23adc25c.7adfae","type":"delay","z":"a746fda9.6826c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":540,"wires":[["69df0bf7.bddc14","8d66322d.683dc"]]},{"id":"abe9f99.4992c08","type":"inject","z":"a746fda9.6826c","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":80,"wires":[["db3555d8.b6b378"]]},{"id":"db3555d8.b6b378","type":"mqtt out","z":"a746fda9.6826c","name":"","topic":"medtracker/drugtime","qos":"2","retain":"true","broker":"b573b156.e04e5","x":360,"y":80,"wires":[]}]